// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #33CCFF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #FF66CC;
$pink2: #FF9999;
$pink3: #ff13c6;
$pink4: #ff78a0;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FFFF66;
$green: #99FF66;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #F6F6F6;
